// Master colors
$colorPrimary: #ceb063;
$colorPrimary70: #dcc791;
$colorPrimary40: #ebdfc1;

$colorSecondary: #7197a7;
$colorSecondary70: #9bb6c1;
$colorSecondary40: #c6d5dc;

$colorGray: #aaaaaa;
$colorGray70: #c3c3c3;
$colorGray40: #dddddd;

$colorBlack: #2a2a2a;
$colorBlack70: #646464;
$colorBlack40: #a7a7a7;

$colorWhite: #ffffff;
$colorWhiteDirty: #f5f5f4;
$colorWhiteDirtier: #ebebeb;
