@import '../../styles/variables/global';
@import '../../styles/variables/colors';

#CoreLayout {
  display: grid;
  grid-template: 80px 1fr / 1fr;

  width: 100%;
  height: 100%;

  #CoreLayout__Header {
    height: $navBarHeight;

    background-color: $colorSecondary;
  }

  #NavBar {
  }

  #CoreLayout__Content {
    display: grid;
    grid-template: 1fr / 1fr;

    background-color: $colorWhite;
  }
}
